<div class="top-menubar-container" style="display: inline;">
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="commitIcon"></fa-icon><br/><em class="menubar-btn-text">Commit</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="pullIcon"></fa-icon><br/><em class="menubar-btn-text">Pull</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="pushIcon"></fa-icon><br/><em class="menubar-btn-text">Push</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="fetchIcon"></fa-icon><br/><em class="menubar-btn-text">Fetch</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="branchIcon"></fa-icon><br/><em class="menubar-btn-text">Branch</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="branchIcon"></fa-icon><br/><em class="menubar-btn-text">Merge</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="stashIcon"></fa-icon><br/><em class="menubar-btn-text">Stash</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="discardIcon"></fa-icon><br/><em class="menubar-btn-text">Discard</em></button>
    <button class="btn btn-light menubar-btn"><fa-icon class="fa-lg" [icon]="tagIcon"></fa-icon><br/><em class="menubar-btn-text">Tags</em></button>
</div>